body {
    background-color: #131744;
}
.circle {
    border-radius: 100%;
    width: 50px;
    height: unset;
    aspect-ratio: 1;
}

#one {
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: -1;
}
#fire {
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: -1;
    animation-name: fire_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 4;
}
@keyframes fire_animation {
    0% {opacity: 0%;}
    49% {opacity: 0%;}
    50% {opacity: 100%;}
}
#fire2 {
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 2;
}
#circle1 {
    background-color:#E7F4FC;
    filter: blur(50px);
    width: 500px;
    height: 550px;
    position: absolute;
    left: 240px;
    top: 300px;
    z-index: 0;
    animation-name: circle_1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
    @keyframes circle_1 {
    0% {
            transform: scale(1) ;
        }
    50% {
      transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
#smoke1 {
    position: absolute;
    left: -270px;
    top: 1600px;

    animation-name: smoke1;
    animation-duration: 850ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}
@keyframes smoke1 {
    0% {opacity: 0%;}
    49% {opacity: 0%;}
    50% {opacity: 100%;}
}
#smoke2 {
    position: absolute;
    left: -270px;
    top: 1600px;
    animation-name: smoke2;
    animation-duration: 850ms;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: alternate-reverse;
    animation-delay: 850ms;
}
@keyframes smoke2 {
    0% {opacity: 0%;}
    49% {opacity: 0%;}
    50% {opacity: 100%;}
}
#two {
    position: absolute;
    left: 10px;
    top: 1150px;
    z-index: -1;
}
#three {
    position: absolute;
    left: 10px;
    top: 2300px;
    z-index: -1;
}
#dream {
    position: absolute;
    left: 10px;
    top: 2300px;
    z-index: -1;
    opacity: 0%;
animation-name: dream;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate-reverse;
}
#dream:hover {
opacity: 70%;
}

#CA4 {
    position: absolute;
    left: 10px;
    top: 3000px;
    z-index: 2;
    opacity: 100%;
}
#start1 {
    position: absolute;
    left: 10px;
    top: 500px;
    z-index: 0;
    opacity: 100%;
animation-name: start1;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate-reverse;
}
@keyframes start1 {
0% {opacity: 0%;}
49% {opacity: 50%;}
50% {opacity: 100%;}
}
#start2 {
    position: absolute;
    left: 10px;
    top: 500px;
    z-index: 0;
    opacity: 100%;
    animation-name: start2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-direction: alternate-reverse;
    animation-delay: 2s;
}
@keyframes start2 {
    0% {opacity: 0%;}
    49% {opacity: 50%;}
    50% {opacity: 100%;}
}

#letter_animation_1 {
    position: absolute;
    left: 160px;
    top: 3900px;
    z-index: 0;
    opacity: 100%;
animation-name: letter_animation_1;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate-reverse;
}
@keyframes letter_animation_1 {
0% {opacity: 0%;}
49% {opacity: 0%;}
50% {opacity: 100%;}
}
#letter_animation_2 {
    position: absolute;
    left: 140px;
    top: 4000px;
    z-index: 0;
    opacity: 100%;
animation-name: letter_animation_2;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-direction: alternate-reverse;
animation-delay: 1s;
}
@keyframes letter_animation_2 {
0% {opacity: 0%;}
49% {opacity: 0%;}
50% {opacity: 100%;}
}

#leafs {
    scale: 1;
    position: absolute;
    left: 0px;
    top: 5390px;
    z-index: 0;
    animation-name: leafs;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-fill-mode:backwards;
  }
  @keyframes leafs {
    0% {left: 0px}
    100% { left: -1920px}
  }
  
  @keyframes leafs_end {
    0% { left: 2000px; }
    100% { left: -3840px; }
  }
  
  #leafs_end:hover {
    animation-play-state:running;
  }
  #cloud {
    position: absolute;
    left: 0px;
    top: 2810px;
    z-index: 5;
    animation-name: cloud;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-fill-mode:backwards;
  }
  @keyframes cloud {
    0% {left: 0px}
    100% { left: -1920px}
  }
#speak {
    scale: 0.25;
    position: absolute;
    left: 10px;
    top: 4690px;
    z-index: 3;
    opacity: 0%;
animation-name: speak;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
animation-direction: alternate-reverse;
}
#speak:hover {
opacity: 100%;
}

#close_letter {
    position: absolute;
    left: 180px;
    top: 4700px; 
    z-index: 4;
}
#icon {
    scale: 0.4;
    position: absolute;
    left: -80px;
    top: -90px; 
    z-index: 6;
}

#four {
    position: absolute;
    left: 10px;
    top: 3500px;
    z-index: -1;
}
#five {
    position: absolute;
    left: 10px;
    top: 4650px;
    z-index: -1;
}
#six {
    position: absolute;
    left: 10px;
    top: 5500px;
    z-index: -1;
}

#eight1 {
    background-color: #ea00ff;
    opacity:0%;
    width: 200px;
    height: 300px;
    position: absolute;
    right: 430px;
    top: 5000px;
    z-index: 5;
}
#eight2 {
    background-color: #ea00ff;
    opacity: 0%;
    width: 2000px;
    height: 600px;
    position: absolute;
    left: 5px;
    top: 2680px;
    z-index: 5;
}
#eight3 {
    background-color: #ea00ff;
    opacity: 0%;
    width: 550px;
    height: 550px;
    position: absolute;
    left: 10px;
    top: 2300px;
    z-index: 5;
}
#eight4 {
    background-color: #ea00ff;
    opacity: 0%;
    width: 700px;
    height: 550px;
    position: absolute;
    left: 900px;
    top: 2300px;
    z-index: 5;
}
#eight5 {
    background-color: #ea00ff;
    opacity: 0%;
    width: 200px;
    height: 300px;
    position: absolute;
    right: 80px;
    top: 5000px;
    z-index: 5;
}
#eight6 {
    background-color: #ea00ff;
    opacity: 0%;
    width: 500px;
    height: 200px;
    position:absolute;
    right: 180px;
    top: 5180px;
    z-index: 5;
}
#final {
    opacity: 100%;
    position:absolute;
    left: 1150px;
    top: 5880px;
    z-index: 6;
}

